doctype html
html
	head
		title test form
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css')
		meta(name='viewport', content='width=device-width, initial-scale=1')
	body
		.container
			.row
				form.col.s12(action='/form', method='POST')
					.row
						.input-field.col.s8.m6
							p Search
							input#search(type='text', list="browser" name='search', placeholder='Search..')
							datalist#browser
					button#submit(type='submit', name='submit')  Submit 
			br
			
		script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js')
		script(type='text/javascript', src='script.js')
