doctype html
html
	head
		title test form
	body
		form(action='/form', method='POST', target='_blank')
			fieldset
				p Search bar
				input(type='text', name='search', placeholder='Search..')
				br
				input(type='submit', name="submit" value='submit')

